<div class="uk-container">
  <div class="uk-card uk-card-default">
  <div class="uk-card-header">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
              <img class="uk-border-circle" width="40" height="40" src="https://getuikit.com/docs/images/avatar.jpg">
          </div>
          <div class="uk-width-expand">
              <h3 class="uk-card-title uk-margin-remove-bottom">
                {{eventInput.name}}
                <span class="uk-card-badge uk-label">
                {{eventInput.price}}
                </span>
              </h3>
              <p class="uk-text-meta uk-margin-remove-top">
                {{eventInput.locations.address}},
                {{eventInput.locations.city}},
                {{eventInput.locations.country}}  |
                <span>
                  {{eventInput.date}} at
                  {{eventInput.time}}
                </span>
              </p>
          </div>
      </div>
  </div>

  </div>
</div>

